<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Blog app by aryanvala</h1>
        <ul>
            {% for post in posts %}
                <li class="post">
                    <a href="{{ url_for('post', post_id=post['id']) }}">{{ post['title'] }}</a>
                    <form action="{{ url_for('delete_post', post_id=post['id']) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <a class="add-post-btn" href="{{ url_for('add_post') }}">Add Post</a>
    </div>
</body>
</html>
